<div class="row">
<% @photos_low_res.each do |photo| %>
  <div class="col-md-4 mb-2">
    <img src="<%= get_cloud_storage_object(photo) %>" class="img-thumbnail home-image-margin-bottom"/>
  </div>
<% end %>
</div>
