<div class="card-columns">
<% @photos_low_res.each do |photo| %>
  <div class="card mb-2">
    <img src="<%= get_cloud_storage_object(photo) %>" class="card-img-top img-fluid"/>
    <div class="card-block">
      <h4 class="card-title">Image Title</h4>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <p class="card-text"><small class="text-muted">Uploaded <%= photo.created_at %></small></p>
    </div>
  </div>
<% end %>
</div>
