<div class="row">
<% @photos_low_res.find_each do |photo| %>
  <div class="col-xs-6 col-md-3">
    <img src="<%= CloudStorage::Object.new(photo.object_key).url %>" class="img-thumbnail"/>
  </div>
<% end %>
</div>
