<div class="row">
  <div class="col">
    <h2><%= event.title %></h2>
  </div>
</div>

<div class="row" id="thumbnail-list">
  <% thumbnails.each do |thumbnail| %>
    <div class="col-sm-6 col-md-4 p-2">
      <div class="card home-card" style="background-image: url('<%= PhotoService.url(thumbnail) %>');" data-mfp-src="<%= PhotoService.url(thumbnail.original.copies.preview.first) %>">
        <div class="card-block">
          <p class="card-text"><small class="text-muted"><%= thumbnail.original.name %></small></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
