(($) ->

  ###
  Application
  ###

  app = undefined
  app = window.Emporium or (window.Emporium = {})
  app.photos =

    ###
    Initializers
    ###

    initialize: ->
      console.log('initialized') if <%= Rails.env.development? %>

    initializeForm: ->
      @initializeEventInput()
      @initializeUploader(document.getElementById('upload-button'))

    ###
    Actions
    ###

    new: ->
      @initializeForm()

    initializeEventInput: ->
      @$eventInput = $('#event-input')
      @$eventInput.selectize(
        create: true,
        sortField: 'text'
        render:
          option_create: (data, escape) ->
            '<div class="create"><i class="fa fa-plus" aria-hidden="true"></i> <strong>' + escape(data.input) + '</strong>&hellip;</div>'
      )
      @$photographerInput = $('#photographer-input')
      @$photographerInput.selectize(
        create: true,
        sortField: 'text'
        render:
          option_create: (data, escape) ->
            '<div class="create"><i class="fa fa-plus" aria-hidden="true"></i> <strong>' + escape(data.input) + '</strong>&hellip;</div>'
      )


  $.extend(app.photos, app._uploader)
  app.photos
) jQuery
