<div class="row">
  <div class="col">
    <h1>
      <i class="fa fa-picture-o" aria-hidden="true"></i>
      <%= t('photos.title') %>
    </h1>
    <hr>
  </div>
</div>


<div class="row">
  <div class="col">
    <%= render partial: 'uploader' %>
  </div>
</div>
