<div class="jumbotron mt-5" id="uploader">
  <h1>Uploads</h1>
  <p class="lead">Drop files here or click the button bellow to select files.</p>
  <button class="btn btn-lg btn-primary" id="uploader-select-files">Select files…</button>
  <div class="progress invisible mt-2" id="uploader-total-progress">
    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-progress-bar>0%</div>
  </div>
</div>

<div id="upload-item-template" style="display:none;">
  <div class="card invisible" data-card>
    <img class="card-img-top img-fluid">
    <div class="card-img-overlay">
      <button class="btn btn-danger btn-lg text-white" disabled data-destroy><i class="fa fa-trash-o fa-lg"></i> Delete</a>
    </div>
    <div class="card-img-overlay text-right" data-loading>
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw fa-inverse"></i>
    </div>
    <div class="card-img-overlay text-right invisible" data-error>
      <i class="fa fa-exclamation-triangle fa-3x fa-fw text-warning"></i>
    </div>
    <div class="card-block">
      <h4 class="card-title mb-0" data-title></h4>
    </div>
  </div>
</div>

<div id="upload-row-template" style="display:none;" data-spacing-class="pt-3">
  <div class="row" data-row>
    <div class="col-12 col-md-4" data-column></div>
    <div class="col-12 col-md-4" data-column></div>
    <div class="col-12 col-md-4" data-column></div>
  </div>
</div>
