<div class="jumbotron mt-3 mb-3" id="uploader">
  <h1>Uploads</h1>
  <p class="lead">Click the button bellow to select files.</p>
  <button class="btn btn-lg btn-primary" id="uploader-select-files">Select files…</button>
</div>

<div id="upload-item-template" style="display:none;">
  <div class="col-12 col-md-4 mb-3" style="display:none;" data-upload-id="{{id}}" id="upload_item_{{id}}">
    <div class="card">
      <img class="card-img-top img-fluid upload-item-thumbnail" v-thumbnail>
      <div class="card-img-overlay upload-item-title-wrap">
        <h6 class="card-title mb-3" v-title></h4>
      </div>
      <div class="card-img-overlay" v-status-bar>
        <div class="progress upload-item-progress">
          <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" data-progress-bar v-progress-bar></div>
        </div>
      </div>
      <div class="card-img-overlay text-right">
        <a href="#" v-remove-button>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x text-danger"></i>
            <i class="fa fa-times fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
